# COVID-19 practice problems in Python

This practice problem set is meant for new Python users.

Solutions to these problems can be found in the solutions folder.

## Set up

In [1]:
# load libraries
import os
import urllib.request
import pandas as pd

In [3]:
# get csv
urllib.request.urlretrieve("https://github.com/RamiKrispin/coronavirus/raw/master/csv/coronavirus.csv",
                           "coronavirus.csv")

('coronavirus.csv', <http.client.HTTPMessage at 0x7fe9fc2479d0>)

In [5]:
# pull data into notebook
covid = pd.read_csv("coronavirus.csv")

In [6]:
# take a peek at the dataset
covid.head()

         date province      country       lat       long       type  cases
0  2020-01-22      NaN  Afghanistan  33.93911  67.709953  confirmed      0
1  2020-01-22      NaN      Albania  41.15330  20.168300  confirmed      0
2  2020-01-22      NaN      Algeria  28.03390   1.659600  confirmed      0
3  2020-01-22      NaN      Andorra  42.50630   1.521800  confirmed      0
4  2020-01-22      NaN       Angola -11.20270  17.873900  confirmed      0

## Practice problems

### Practice problem 1:

How many countries are represented by this dataset? Which country is most frequently in the data?

### Practice problem 2:

Subset the dataset to only show data for Afghanistan.

### Practice problem 3:

Show the data for confirmed cases of COVID-19 in the United States when there are more 200,000 cases.

### Practice problem 4:

Create a plot with the data from the previous problem (over 200,00 cases, confirmed COVID-19 in the US) where the y-axis is the number of confirmed cases and the x-axis is the date.

**Hints:**
- Make the axes labels descriptive
- Rotate the dates on the x-axis 90 degrees for legibility

### Practice problem 5:

View the first few rows of `country` and `province` columns.

### Practice problem 6:

Find the maximum and minimum dates in this dataset.